<div class="flex flex-col max-h-full overflow-y-auto scrollbar-hide">
    <span class="font-semibold md:text-lg">{{cartItem.productName}}</span>
    <div>
        <!-- Special Instruction -->
        <form [formGroup]="specialInstructionForm">
            <div class="w-full mt-2">
                <span class="font-medium text-md md:text-base">Special Instruction:</span> 
                <mat-form-field class="mt-1 fuse-mat-textarea fuse-mat-no-subscript w-full" floatLabel="always">
                    <textarea
                        style="resize: none;"
                        class="text-sm"
                        [ngClass]="'border border-red-600'"
                        matInput
                        [formControlName]="'specialInstructionValue'"
                        maxlength="50"
                        [rows]="2"
                        matTextareaAutosize></textarea>
                </mat-form-field>
            </div>
        </form>
    </div>
    <!-- Actions -->
    <div class="flex sm:flex-row sm:items-center justify-end mt-2">
        <button
            class="hover:bg-gray-500 border border-gray-500 mr-2"
            mat-flat-button
            type="button"
            [color]="'gray'"
            (click)="closeDialog()"
            >
            Cancel
        </button>
        <button
            mat-flat-button
            type="button"
            (click)="save()"
            [color]="'primary'">Save
        </button>
    </div>
</div>
